<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>Items</h2>
      <form action="/value" method="POST" >
        <ul>
          <li>
            <input type="text" name="data" />
            <input type="submit" value="Add" />
          </li>
          <% for(var i=0; i<items.length; i++) {%>
             <li><%= items[i] %></li>
             <% } %>
        </ul>
      </form>
    </div>
</body>
</html>
